# Compiled object files
*.o

# Main compiled binary
budostack

# In the commands directory, ignore everything except source files
commands/*
!commands/*.c
!commands/*.h
apps/*
!apps/*.c
!apps/*.h
!apps/*.ini
lib/*
!lib/*.c
!lib/*.h
tasks/*
!tasks/*.task

# Backup files and temporary files
*~
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db
