[Desktop Entry]
Type=Application
Name=BUDOSTACK
Comment=Launch BUDOSTACK's built-in CRT terminal
Exec=/bin/bash /home/<user>/git/BUDOSTACK/start.sh
Icon=/home/<user>/git/BUDOSTACK/icon.png
Path=/home/<user>/git/BUDOSTACK
Terminal=false
StartupNotify=true
